<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list class="menu-list">

<ion-item button routerLink="/tabs/historico">Histórico</ion-item>
<ion-item button routerLink="/tabs/favoritos">Favoritos</ion-item>
<ion-item button routerLink="/tabs/objetivos">Objetivos</ion-item>
<ion-item button routerLink="/tabs/mapa-atividade">Mapa da Atividade</ion-item>
<ion-item button routerLink="/tabs/estado-fisico">Estado Físico</ion-item>
<ion-item button routerLink="/tabs/evolucao">Evolução</ion-item>
<ion-item button routerLink="/tabs/lembretes">Lembretes</ion-item>
<ion-item button routerLink="/tabs/atividade-sugerida">Atividade sugerida</ion-item>



  </ion-list>

</ion-content>

