<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- HEADER PERFIL -->
  <div class="profile-header">
    <ion-avatar>
      <img src="assets/img/profile.jpg" alt="Foto Perfil" />
    </ion-avatar>

    <div class="profile-info">
      <h2>João Silva</h2>
      <p>Ativo desde Março 2024</p>

      <ion-button
  fill="clear"
  size="small"
  routerLink="/personalizacao">
   Editar Personalização
</ion-button>

    </div>
  </div>

  <!-- DADOS UTILIZADOR -->
  <div class="card">
    <h3>Dados do Utilizador</h3>

    <div class="user-data">
      <div class="data-item">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>22 anos</span>
      </div>

      <div class="divider"></div>

      <div class="data-item">
        <ion-icon name="barbell-outline"></ion-icon>
        <span>72 Kg</span>
      </div>

      <div class="divider"></div>

      <div class="data-item">
        <ion-icon name="resize-outline"></ion-icon>
        <span>1,75 m</span>
      </div>
    </div>
  </div>

  <!-- ESTATÍSTICAS -->
  <div class="card">
    <h3>Estatísticas Rápidas</h3>

    <div class="stats">
      <div class="stat-box">
        <span class="value">150</span>
        <span class="label">Treinos</span>
      </div>

      <div class="stat-box">
        <span class="value">320 Km</span>
        <span class="label">Distância</span>
      </div>

      <div class="stat-box">
        <span class="value">24.000 Kcal</span>
        <span class="label">Calorias</span>
      </div>
    </div>
  </div>

</ion-content>

