<ion-header translucent="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="profile-content">

  <!-- Saudação -->
  <div class="profile-greeting">
    <h1>Olá, <span>João</span></h1>
    <p>Aqui está o teu resumo semanal</p>
  </div>

  <!-- Estatísticas principais -->
 <div class="profile-stats">
  <div class="stat-card">
    <img src="assets/fire.png" class="stat-icon" />
    <h2>1.200</h2>
    <p>Total de calorias</p>
  </div>

  <div class="stat-card">
    <img src="assets/watch.png" class="stat-icon" />
    <h2>12h 45m</h2>
    <p>Tempo Total</p>
  </div>
</div>


  <!-- Atividade mais frequente -->
  <div class="profile-activity">
  <img src="assets/running.png" class="activity-icon" />
  <div class="corrida">
    <h2>Corrida</h2>
    <p>Atividade mais frequente</p>
  </div>
</div>


  <!-- Gráfico semanal -->
  <div class="profile-chart">
    <p class="chart-title">Atividades da semana</p>
    <div class="chart-placeholder">
      Gráfico semanal
    </div>
  </div>

  <!-- Botão principal -->
  <ion-button expand="block" class="create-activity-btn">
    Criar Atividade
  </ion-button>

</ion-content>
