<ion-content>

  <h1 class="page-title">Lembretes</h1>

  <p class="page-subtitle">
    Define e recebe lembretes para manteres o hábito de treino
  </p>

  <!-- Card 1 -->
  <div class="lembrete-card">
    <div class="lembrete-info">
      <ion-icon name="walk" class="lembrete-icon"></ion-icon>

      <div class="lembrete-textos">
        <span class="lembrete-titulo">Lembretes de Treino</span>
        <span class="lembrete-descricao">
          2 vezes por semana às 8:00 - Ter, Qui, Sáb
        </span>
      </div>
    </div>

    <ion-toggle checked></ion-toggle>
  </div>

  <!-- Botão -->
  <ion-button expand="block" class="add-lembrete-button">
    + Adicionar Lembrete
  </ion-button>

</ion-content>
