.lembretes-content {
  ion-item {
    --padding-start: 12px;
    --inner-padding-end: 12px;
    --min-height: 70px;
    font-size: 14px;

    ion-icon {
      font-size: 24px;
      color: var(--ion-color-primary);
    }

    ion-label {
      h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        margin: 2px 0 0;
        font-size: 13px;
        color: #666;
      }
    }

    ion-toggle {
      --handle-background: var(--ion-color-primary);
    }
  }
}
.add-lembrete-button {
  --background: #B15CFF;
  --background-hover: #9f45f0;
  --background-activated: #9f45f0;
  --color: #ffffff;

  --border-radius: 999px;
  --box-shadow: none;

  height: 56px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.3px;

  margin: 16px;
}

