<ion-header>
  <ion-toolbar>
    <ion-title>Lembretes</ion-title>
  </ion-toolbar>
</ion-header>

<p>Define e recebe lembretes para manteres o hábitode treino e saúde.</p>

<ion-content class="lembretes-content">

  <ion-list lines="full">

    <!-- Treino 2x por semana -->
    <ion-item>
      <ion-icon name="walk-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Lembretes de Treino</h2>
        <p>Terça, Quinta e Sábado às 08:00</p>
      </ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

    <!-- Treino às 16:30 -->
    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Lembretes de Treino</h2>
        <p>Segunda, Quarta e Sexta às 16:30</p>
      </ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

    <!-- Corrida -->
    <ion-item button detail>
      <ion-icon name="bicycle-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Corrida</h2>
        <p>Sem horário definido</p>
      </ion-label>
    </ion-item>

    <!-- Hidratação -->
    <ion-item>
      <ion-icon name="water-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Hidratação</h2>
        <p>Todos os dias às 11:30 e 14:30</p>
      </ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

    <!-- Dormir -->
    <ion-item>
      <ion-icon name="moon-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Lembretes para Dormir</h2>
        <p>Todos os dias às 23:00</p>
      </ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

  </ion-list>

  <!-- Botão flutuante -->
  <ion-button expand="block" class="add-lembrete-button">
    Adicionar Lembrete
  </ion-button>

</ion-content>
