<ion-content class="login-page">

  <div class="container">

    <ion-img src="assets/logo_sportify.png" class="logo"></ion-img>

    <h1 class="title">Entrar</h1>

    <ion-input
      label="Email"
      label-placement="floating"
      type="email"
      class="input-box"
    ></ion-input>

    <ion-input
      label="Password"
      label-placement="floating"
      type="password"
      class="input-box"
    ></ion-input>

    <ion-button
      fill="clear"
      class="forgot"
      (click)="gotoRecover()">
      Esqueci-me da password
    </ion-button>


    <ion-button expand="block" shape="round" class="btn-login">
      Entrar
    </ion-button>

  </div>

</ion-content>
