ion-header,
ion-toolbar {
  --background: #ffffff;
  --color: #000000;
  box-shadow: none;
}

ion-title {
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

/* CARD ATIVIDADE */
.activity-card {
  background: #faf5ff;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 24px;
}

.activity-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.activity-info {
  padding: 14px;
}

.activity-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.activity-title ion-icon {
  color: #a855f7;
  font-size: 20px;
}

.activity-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.activity-meta ion-icon {
  color: #a855f7;
  margin-right: 4px;
}

/* OBJETIVO */
h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.goal-card {
  display: flex;
  justify-content: space-between;
  background: #faf5ff;
  border-radius: 16px;
  padding: 14px;
  margin-bottom: 14px;
}

.goal-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.goal-item ion-icon {
  color: #a855f7;
  font-size: 22px;
}

.divider {
  width: 1px;
  background: #e5d5ff;
}

/* CALORIAS */
.calories-card {
  background: #faf5ff;
  border-radius: 16px;
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.calories-card ion-icon {
  color: #a855f7;
  font-size: 22px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* AÇÕES */
.actions {
  display: flex;
  gap: 12px;
}

.cancel-btn {
  --background: #ece9f3;
  --color: #000;
  border-radius: 999px;
  flex: 1;
}

.start-btn {
  --background: #a855f7;
  --border-radius: 999px;
  flex: 1;
}
