<ion-header>
  <ion-toolbar>
    <ion-title>Atividade sugerida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="subtitle">
    Baseado no teu histórico, aqui está uma sugestão para hoje!
  </h2>

  <!-- CARD ATIVIDADE -->
  <div class="activity-card">

    <img
      src="assets/img/corrida.jpg"
      alt="Corrida"
      class="activity-image"
    />

    <div class="activity-info">
      <div class="activity-title">
        <ion-icon name="walk-outline"></ion-icon>
        <strong>Corrida</strong>
      </div>

      <p>5 km / 30 min</p>

      <div class="activity-meta">
        <div>
          <ion-icon name="flame-outline"></ion-icon>
          300 Kcal
        </div>

        <div>
          <ion-icon name="location-outline"></ion-icon>
          Cidade do Porto
        </div>
      </div>
    </div>
  </div>

  <!-- OBJETIVO -->
  <h3>Objetivo de Hoje</h3>

  <div class="goal-card">
    <div class="goal-item">
      <ion-icon name="time-outline"></ion-icon>
      <div>
        <strong>Duração</strong>
        <span>30 min</span>
      </div>
    </div>

    <div class="divider"></div>

    <div class="goal-item">
      <ion-icon name="navigate-outline"></ion-icon>
      <div>
        <strong>Distância</strong>
        <span>5 Km</span>
      </div>
    </div>
  </div>

  <div class="calories-card">
    <ion-icon name="flame"></ion-icon>
    <strong>CALORIAS</strong>
    <span>300 Kcal</span>
  </div>

  <p class="description">
    Ideal para melhorar a tua resistência. Mantém um ritmo confortável e constante.
  </p>

  <!-- BOTÕES -->
  <div class="actions">
    <ion-button fill="clear" class="cancel-btn">
      Ignorar
    </ion-button>

    <ion-button class="start-btn">
      Iniciar atividade
    </ion-button>
  </div>

</ion-content>
