<ion-header>
  <ion-toolbar>
    <ion-title>Atividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Filtros -->
  <div class="filters">
    <button class="filter">🏃 Desporto</button>
    <button class="filter">📅 Data</button>
    <button class="filter">🔥 Intensidade</button>
  </div>

  <!-- Lista de atividades -->
  <div class="activity-card">
    <div class="activity-header">
      <span class="icon">🏃</span>
      <div>
        <h3>Corrida</h3>
        <p>22 de abril de 2025</p>
      </div>
      <span class="fav">♡</span>
    </div>

    <div class="activity-info">
      <span>⏱ 45 min</span>
      <span class="tag moderate">Moderada</span>
    </div>
  </div>

  <div class="activity-card">
    <div class="activity-header">
      <span class="icon">🚴</span>
      <div>
        <h3>Ciclismo</h3>
        <p>20 de abril de 2025</p>
      </div>
      <span class="fav">♡</span>
    </div>

    <div class="activity-info">
      <span>⏱ 1h 15min</span>
      <span class="tag high">Alta</span>
    </div>
  </div>

    <div class="activity-card">
    <div class="activity-header">
      <span class="icon">🏋️</span>
      <div>
        <h3>Ginásio</h3>
        <p>18 de abril de 2025</p>
      </div>
      <span class="fav">♡</span>
    </div>

    <div class="activity-info">
      <span>⏱ 1h 10min</span>
      <span class="tag high">Moderada</span>
    </div>
  </div>

</ion-content>

