/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark mode handling (pode manter ou remover) */
@import '@ionic/angular/css/palettes/dark.system.css';

body {
  font-family: "Poppins", sans-serif;
}

ion-title{
    text-align: center;
}

ion-content { --background: var(--ion-background-color); color: var(--ion-text-color); }

/* Toolbar / Header */ ion-toolbar, ion-header { --background: var(--ion-toolbar-background); --color: var(--ion-toolbar-text); }

/* Títulos dentro da toolbar */ ion-toolbar ion-title, ion-toolbar .toolbar-title, ion-toolbar .title { color: var(--ion-toolbar-text) !important; }

/* Ícones e botões dentro da toolbar */ ion-toolbar ion-button, ion-toolbar ion-buttons, ion-toolbar ion-icon, ion-toolbar .toolbar-button { color: var(--ion-toolbar-text) !important; }

/* Itens da lista */ ion-item { --background: var(--ion-surface-color); --color: var(--ion-text-color); }

